:root {
    --c-1: hsl(217, 19%, 35%);
    --c-2:hsl(214, 17%, 51%);
    --c-3:hsl(212, 23%, 69%);
    --c-4:hsl(210, 46%, 95%);

    --f-1: 'Manrope', sans-serif;
}


.slider, .slider *, .slider *::after, .slider *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.slider {
    font-family: var(--f-1);
    font-size: 0.8125rem;

    display: grid;
    grid-template-columns: 9.8% minmax(auto, 53em) 9.8%;
    grid-template-rows: 1.92em auto 4.84em auto 2.07em auto auto auto;

    max-width: 100%;

    color: var(--c-1);


}

.slider > * {
    grid-column: 2 / -2;
}

.slider img {
    max-width: 100%;
}

.slider__img-bg {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    
}

.slider__img {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    width: 77%;
   
    object-fit: cover;
    object-position: top;


    justify-self: center;
    align-self: center;


}


.slider__btn {
    align-self: flex-end;
    justify-self: center;
    background: white;

    grid-row: 2 / 3;
    grid-column: 2 / 3;

    width: 11%;
    max-width: 4.15em;
    padding: 4%;
    position: relative;

    bottom: 3%;
    
}


.slider__btn-prev {
    border-top-left-radius: 50%;
    border-bottom-left-radius:50%;
    transform: translate(-48%, 3%);
}

.slider__btn-next {
    border-top-right-radius: 50%;
    border-bottom-right-radius:50%;
    transform: translate(48%);
}


.slider__quote {
    grid-row: 4 / 5;

    font-size: 1.4em;

    color: var(--c-2);

    max-width: 28em;
    justify-self: center;
}

.slider__img-quote {
    grid-row: 4/ 5;
    grid-column: 2 / 3;

    justify-self: center;
    align-self: flex-start;

    width: 19.5%;
    max-width: 9em;

    transform:translateY(-60%);

}



.slider__name, .slider__job {
    justify-self: center;
}

.slider__name {
    grid-row: 6 / 7;

    font-size: 1.2em;
    font-weight: bold;
}

.slider__job {
    grid-row: 7 / 8;

    color: var(--c-3);
}


.slider__img-curve {
    grid-row: -2 / -1;
    grid-column: 1 / -2;
    max-width: 38em;
}



@media (min-width: 1024px)
{
    .slider {
        font-size: 1.3rem;
        grid-template: 11.5% auto auto auto 5% / 2.4em auto auto 2.4em;
    }


    .slider__img-bg, .slider__img, .slider__btn {
        grid-column: 5 / 6;
        grid-row: 2 / -2;
    }

  

    .slider__quote {
        font-size: 1.5em;

        grid-column: 2 / 4;
        grid-row: 2 / 3;

        max-width: 623px;
        margin-bottom: 1em;
        align-self: center;
    }

    .slider__img-quote 
    {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;
    }


    .slider__name {
        font-size: 1.1em;

        grid-column: 2 / 3;
        grid-row: 3 / 4;
        justify-self:flex-start;
    }

    .slider__job {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        justify-self:flex-start;
        margin-left: 0;
    }
}
